<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>toDo_app</title>
  </head>
  <body>
    <h1>toDo_app</h1>
    <div class="task">
      <a href="/task.html.ejs">View or Create task</a>
    </div>
  </body>
</html>
