<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>create new task</title>
    <link rel="stylesheet" href="/css/myStyles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <div class="can">
    <h2>Create new Task</h2>
    <form action="/task.html.ejs" method="post">

      <label for="name">Name:</label>
      <input type="text" placeholder="name" name="name" value="<%= task.name %>">
      <input type="submit" value="Add This New Task To My List">

    </form>
    <a href="/task.html.ejs"><button>Cancel This Order</button></a>
  </div>

  </body>
</html>
