<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>all task</title>
  </head>
  <body>
    <h1>Task Page </h1>
    <div>
    <ul>
      <% task.forEach((task) => { %>
        <li>
         <%= task.name %><br>

          <a href="/editTask.html.ejs/<%= task.id %>/edit"><button>Edit</button></a>

          <form action="/task.html.ejs/<%= task.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
          </form>

         </li>
      <% }); %>
    </ul>
      <a href="/showTask.html.ejs/newTask.html.ejs"><button>Create a New Task</button></a>

      <a href="/"><button>Home Page</button></a>
    </div>
  </body>
</html>
